In [ ]:
# @title Setup
from google.cloud import bigquery
from google.colab import data_table
import bigframes.pandas as bpd

project = 'first-dbt-project-test123' # Project ID inserted based on the query results selected to explore
location = 'US' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=first-dbt-project-test123:US:bquxjob_5003fb8f_1990a765ce6)
back to BigQuery to edit the query within the BigQuery user interface.

In [ ]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_5003fb8f_1990a765ce6') # Job ID inserted based on the query results selected to explore
print(job.query)

select *
from `first-dbt-project-test123.dbt_test.metrics`
order by 1,2,3

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API. The read_gbq_table [method](https://cloud.google.com/python/docs/reference/bigframes/latest/bigframes.pandas#bigframes_pandas_read_gbq_function) turns a BigQuery table into the BigFrames DataFrame.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [ ]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_5003fb8f_1990a765ce6') # Job ID inserted based on the query results selected to explore
destination = job.destination

# Load data from a BigQuery table using BigFrames DataFrames:
bq_df = bpd.read_gbq(f"{destination.project}.{destination.dataset_id}.{destination.table_id}")
bq_df

,event_day,platform,channel,visitors,page_views,quote_starts,quote_submits,purchases,quote_start_rate,quote_submit_rate,purchase_rate,view_to_purchase_rate,median_time
0,2025-08-08,app,push,5,5,4,2,2,0.8,0.5,1.0,0.6,7
2,2025-08-08,app,push,5,5,4,2,2,0.8,0.5,1.0,0.6,7
1,2025-08-08,app,push,5,5,4,2,2,0.8,0.5,1.0,0.6,7
3,2025-08-03,app,paid_search,6,6,6,3,0,1.0,0.5,0.0,0.33,6
4,2025-08-04,web,email,1,1,1,0,0,1.0,0.0,0.0,0.0,<NA>
5,2025-08-10,app,social,1,1,0,0,0,0.0,0.0,0.0,0.0,<NA>
6,2025-08-04,web,push,1,1,1,1,0,1.0,1.0,0.0,0.0,<NA>
7,2025-08-05,web,social,4,4,3,1,0,0.75,0.33,0.0,0.25,5
8,2025-08-07,web,paid_search,6,6,5,2,0,0.83,0.4,0.0,0.33,4
9,2025-08-09,web,direct,16,16,10,1,0,0.63,0.1,0.0,0.06,<NA>
10,2025-08-04,app,direct,6,6,4,1,1,0.67,0.25,1.0,0.17,<NA>
11,2025-08-04,web,social,3,3,3,1,0,1.0,0.33,0.0,0.33,0
12,2025-08-10,app,paid_search,4,4,1,1,0,0.25,1.0,0.0,0.25,<NA>
13,2025-08-07,app,email,2,2,2,0,0,1.0,0.0,0.0,0.0,<NA>
14,2025-08-09,web,paid_search,4,4,3,2,0,0.75,0.67,0.0,0.25,<NA>
15,2025-08-07,web,direct,8,8,5,2,0,0.63,0.4,0.0,0.0,<NA>
16,2025-08-12,web,push,8,8,4,0,0,0.5,0.0,0.0,0.13,3
17,2025-08-03,web,social,1,1,1,0,0,1.0,0.0,0.0,0.0,<NA>
18,2025-08-05,app,paid_search,3,3,3,0,0,1.0,0.0,0.0,0.33,<NA>
19,2025-08-12,app,paid_search,5,5,5,2,0,1.0,0.4,0.0,0.0,<NA>
21,2025-08-07,app,paid_search,8,8,8,3,2,1.0,0.38,0.67,0.5,12
20,2025-08-07,app,paid_search,8,8,8,3,2,1.0,0.38,0.67,0.5,12
22,2025-08-08,web,direct,6,6,5,2,0,0.83,0.4,0.0,0.0,<NA>
23,2025-08-03,web,direct,16,16,14,8,5,0.88,0.57,0.63,0.44,5
24,2025-08-11,web,push,4,4,4,0,0,1.0,0.0,0.0,0.0,<NA>

## Show descriptive statistics using describe()
Use the ```DataFrame.describe()```
[method](https://cloud.google.com/python/docs/reference/bigframes/latest/bigframes.dataframe.DataFrame#bigframes_dataframe_DataFrame_describe)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a dataset’s
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

In [ ]:
# Generate descriptive statistics.
bq_df.describe()

,event_day,visitors,page_views,quote_starts,quote_submits,purchases,quote_start_rate,quote_submit_rate,purchase_rate,view_to_purchase_rate,median_time
count,103,103.0,103.0,103.0,103.0,103.0,103.0,103.0,103.0,103.0,45.0
mean,<NA>,5.640777,5.640777,4.116505,1.621359,0.737864,0.758447,0.391845,0.321456,0.228641,7.133333
std,<NA>,3.847215,3.847215,2.92488,1.455998,1.038109,0.251227,0.2974,0.395817,0.234584,5.106146
min,<NA>,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,<NA>,3.0,3.0,2.0,1.0,0.0,0.63,0.17,0.0,0.0,3.0
50%,<NA>,4.0,4.0,4.0,1.0,0.0,0.8,0.4,0.0,0.2,7.0
75%,<NA>,8.0,8.0,5.0,2.0,1.0,1.0,0.5,0.6,0.33,11.0
max,<NA>,16.0,16.0,14.0,8.0,5.0,1.0,1.0,1.0,1.0,23.0